*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#fff;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor{
    background: #1E172F;
    width: 100%;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a{
    text-decoration:none; 
    color: white;
    font-size: 15px;
    transition: 0.3s;
}
.menu .btn-download {
  background: linear-gradient(90deg, #635bff, #a259ff);
  color: #ffffff ;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2 ;
}

.menu .btn-download:hover {
  opacity: 0.9;
}

.menu ul li a{
    color: #b0b3c6;
    font-size: 14px;
    transition: 0.3s;
}

.menu ul li a:hover{
    color: #ffffff;
}

.hero {
    width: 100%;
    height: 550px;
    display: flex;
}

.hero1 {
    width: 50%;
    height: 550px;
    background: #302253;
    color: white;
    padding-left: 14%;
    padding-top: 105px;
}

.hero1 h1 {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 26px;
}

.hero1 p {
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
    color: #eeeeee;
    margin-bottom: 27px;
}

.botones {
    width: 280px;
    display: flex;
    gap: 5px;
    border: 2px solid #6b6380;
    padding: 5px;
    border-radius: 5px;

}

.btn {
    padding: 15px 25px;
    background-color: white;
    color: #e83e8c;
    border: none;
    border-radius: 2px;
}

.features {
    padding: 15px 25px;
    background-color: #2E2550;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}
.hero2 {
    width: 50%; 
    height: 550px; 
    background:linear-gradient(rgba(32, 22, 91, .40)),url("../assets/images/hojasFondo.jpg"); 
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;

    
}

.phone img{
    width: 200px;
    height: auto;
}


.funcionalidades{
    width: 100%;
    background-color: #f1f2f7;
    padding: 40px 0;
}

.funcionalidades h2 {
    text-align: center;
    color: #df2783;
    font-size: 48px;
    margin-bottom: 50px;
}

.funcionalidades-contenido {
    width: 80%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.laptop-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.laptop-container img {
    width: 400px;
}

.text{
width: 40%;
}

.text h3{
    color: #d64b91;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 25px;
}

.text p{
    color: #555;
    font-size: 16px;
    line-height:1.5;
    margin-bottom: 10px;
}

.text h4{
    color: #f2188c;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}

.text ul {
    list-style: none;
    padding: 0;
}

.text li {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.text li i {
    color: #f2188c;
    margin-right: 7px;
    font-size: 14px;
}

.pricing {
  width: 100%;
  background-color: #1E172F;
  padding: 45px 0;
  text-align: center;
}

.pricing h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

.pricing > p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #d4d1da;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.plans{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.plan{
    width: 258px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.plan-header{
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plan-header .imagenes {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-header .imagenes img {
    width: 100%;
}

.plan-header h3 {
    color: #2E2550;
    font-size: 16px;
    margin-top: 5px 0 0 0;
}

.price {
    background-color: #f1f1f1;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.price strong {
    color: #333;
    font-size: 30px;
    font-weight: normal;
}
.price span {
    color: #555;
    font-size: 14px;
    text-align: left;
}


.plan-list {
    list-style: none;
    text-align: left;
    padding: 18px 26px 5px 26px;
    margin: 0;
}

.plan-list li {
    color: #555;
    font-size: 14px;
    margin-bottom: 7px;
}
.plan-list li i {
    color: #2E2550;
    width: 18px;
    margin-right: 5px;
}

.plan-list li i.pink {
    color: #f2188c;
}

.plan-description {
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 0 25px;
    margin-bottom:25px 0 15px 0;
}

.plan-footer {
    background-color: #f1f1f1;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.subscribe {
    background-color: #2E2550;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 11px 18px;
    border-radius: 3px;
}

.subscribe.pink {
    background-color: #f2188c;
}

footer {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer{
    color: #555;
    font-size: 14px;
}

.footer span{
    color: #e83e8c;
    margin: 0 4px;
}

.social {
  display: flex;
  gap: 20px;
}

.social a{
  color: #555555;
  text-decoration: none;
  font-size: 18px;
}

@media(max-width:1279px){

    .menu{
        gap: 20px;
        padding: 20px;
    }

    .hero1{
        padding-left: 8%;
    }

    .hero2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .phone{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phone img{
        width: 200px;
        height: auto;
    }

    .contenido-funcionalidades{
        width: 90%;
    }

    .pricing > p{
        padding: 30px;
    }

    .plans{
        width: 100%;
        gap: 15px;
    }

}
@media(max-width:920px){

    .menu{
        gap: 20px;
        padding: 20px;
    }

    .hero1{
        padding-left: 7%;
        padding-top: 90px;
    }

    .hero1 h1{
        font-size: 55px;
    }

    .hero1 p{
        font-size: 17px;
    }

    .hero2{
        padding-left: 50px;
    }

    .phone img{
        width: 170px;
    }

    .contenido-funcionalidades{
        width: 90%;
        gap: 20px;
    }

    .laptop-container img{
        width: 330px;
    }

    .text{
        width: 45%;
    }

    .plans{
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .plan{
        width: 30%;
    }
}
@media(max-width:768px){

    .menu{
        gap: 20px;
        padding: 20px;
        flex-direction: column;
    }


    .hero{
        height: auto;
        flex-direction: column;
    }

    .hero1,
    .hero2{
        width: 100%;
        height: 450px;
    }

    .hero1 h1{
        font-size: 55px;
    }


    .hero2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .phone img{
        width: 190px;
    }

    .funcionalidades-contenido{
        flex-direction: column;
        width: 90%;
    }

    .laptop-container,
    .text{
        width: 100%;
    }

    .laptop-container img{
        width: 300px;
        max-width: 100%;
    }


    .pricing{
        flex-direction: column;
    }

    .pricing h2{
        font-size: 40px;
    }

    .pricing > p{
        padding: 0 20px;
    }

    .plans{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .plan{
        width: 50%;
    }


}

@media(max-width:480px){

    .menu{
        gap: 20px;
        padding: 20px;
    }

    .menu img{
        width: 100px;
    }

    .menu ul{
        gap: 12px;
    }

    .menu a{
        font-size: 14px;
    }

    .menu button{
        padding: 5px 8px;
    }

    .hero1{
        height: 430px;
        padding: 60px 25px;
    }

    .hero1 h1{
        font-size: 45px;
    }

    .hero1 p{
        font-size: 15px;
    }

    .hero2{
        height: 400px;
    }

    .phone img{
        width: 170px;
    }

    .funcionalidades{
        padding: 30px 0;
    }

    .funcionalidades h2{
        font-size: 38px;
        margin-bottom: 30px;
    }

    .laptop-container img{
        width: 300px;
    }

    .text h3{
        font-size: 30px;
    }

    .text p{
        font-size: 15px;
    }

    .pricing{
        padding: 35px 0;
    }

    .pricing h2{
        font-size: 35px;
    }

    .pricing > p{
        font-size: 14px;
    }

    .plans{
        flex-direction: column;
        align-items: center;
    }

    .plan{
        width: 280px;
        max-width: 90%;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    .copyright{
        font-size: 13px;
    }
}